$black:#000000;
$white:#FFFFFF;
$offWhite:#F5F4F4;
$darkGray:#1A1C1E;
$lightGray:#D8D8D8;
$gray:#7C7C7C;
$mediumGray:#A3A3A3;
$neonGreen:#D8E022;
$lightBlue:#A6DDE8;
$blue:#3450A1;
$lightPink:#FDE6E1;
$pink:#F89F83;
$orange:#FBB040;
$green:#32AC70;
$rainbowGradient: linear-gradient( 45deg, #F9ED25, #ED207A 65%, #66318D);
$blueGradient: linear-gradient(45deg, #14BDEF, #7C66AC);
