@import "colors";

.four-oh-four-page {

  .main-section {
  
  }

  .content {

  }

  h1, h3 {
    text-align: center;
  }

  h3 {
    margin:20px 0;
  }

  .seemax-button {
    margin:40px auto 0px auto;
  }
}
